@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #123A05;
	font: 14px Arial, Tahoma;
}

#main-page {
	width: 1400px;
	margin: 3% auto;
	background: #f8f8f8;
	box-shadow: 10 10px 30px #cccccc;
	min-height: 800px;
}

#header {
	height: 93px;
	background: #f8f8f8;
}

#header_nav {
	height: 35px;
	border-bottom: solid 1px #eeeeee;
}

#header_nav_menu ul {
	list-style: none;
}

#header_nav_menu ul li a {
	float: left;
	list-style: none;
	text-align: center;
	line-height: 35px;
	display: block;
	padding: 0 10px;
	color: #7F7F7F;
}

#header_nav_menu ul li a:hover {
	background: #EEEEEE;
}

#header_nav_menu ul li a {
	border-right: 1px solid #EEEEEE;
}

a {
	text-decoration: none;
}

#header_languages ul {
	list-style: none;
}

#header_languages ul li a {
	margin-top: 1px;
	margin-right: 15px;
	float: right;
}

#login_form {
	width: 300px;
	height: 130px;
	background: #51595b;
	border: solid 2px #8dc33d;
	box-shadow: 0 5px 8px #bcb8b8;
	margin-top: 230px;
	margin-left: 550px;
}

#login_form input[type=submit] {
	margin-top: 20px;
	margin-bottom: 10px;
	float: right;
	margin-right: 10px;
	width: 120px;
	background: #363636;
}

input[type=text], input[type=password], input[type=number], input[type=search],
	input[type=number], input[type=email], input[type=tel] {
	width: 150px;
	border: none;
	background: #eeeeee;
	padding: 0 5px;
}

#login_form label {
	font-weight: bold;
	color: #ffffff;
	float: left;
	margin-left: 10px
}

.login_field {
	margin-top: 10px;
	clear: both;
	text-align: right;
}

#login_form input[type=text] {
	margin-right: 10px;
}

#login_form input[type=password] {
	margin-right: 10px;
}

input[type=submit] {
	border: none;
	color: #8dc33d;
	cursor: pointer;
	text-align: center;
}

#registration_form {
	width: 360px;
	height: 240px;
	background: #51595b;
	border: solid 2px #8dc33d;
	box-shadow: 0 5px 8px #bcb8b8;
	margin: auto
}

#registration_error {
	width: 360px;
	height: 240px;
	background: #51595b;
	border: solid 2px #8dc33d;
	box-shadow: 0 5px 8px #bcb8b8;
	margin: auto
}

#registration_form input[type=submit] {
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
	margin-right: 10px;
	width: 140px;
	background: #363636;
}

#registration_form label {
	font-weight: bold;
	color: #ffffff;
	float: left;
	margin-left: 10px
}

.registration_field {
	margin-top: 10px;
	clear: both;
	text-align: right;
}

#registration_form input[type=text], input[type=number], input[type=email],
	input[type=tel] {
	margin-right: 10px;
}

#registration_form input[type=password] {
	margin-right: 10px;
}

.clr {
	clear: both;
}

/* dispatcher style */
#greeting {
	color: #8F92F8;
	line-height: 35px;
	padding: 0 10px;
	float: right;
}

table {
	width: 1000px;
	border: 1px solid green;
	margin: auto;
}

td {
	text-align: center;
}

input.submit_review {
	border: 0px;
	font-size: 14;
	color: #ff0000;
	background: #fff000;
	cursor: pointer;
	margin: auto;
}

form {
	margin: 0 auto;
}

.order_id_form {
	margin: 0 auto;
	width: 40px;
}

#registration_error {
	text-align: center;
}

.header-of-fields {
	color: #8F92F8;
	text-align: center;
}

	display: block;
	margin: 300px auto;
	font-size: 24;
}